.bg {
  margin: 0;
  padding: 0;
  background-image: url("https://media.istockphoto.com/id/1367756031/vector/light-blue-watercolor-background-illustration.jpg?s=612x612&w=0&k=20&c=qiJl7j-2terwHd-1YJxiFIo1VJx6l6IsmoqlgeypQ7c=");
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  border-radius: 20px;
  border: none;
  width: 60%;
  box-shadow: 5px 5px 5px 5px gainsboro;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

b {
  color: cornflowerblue;
}

.card-title {
  font-size: xx-large;
  text-align: center;
}

.card-body {
  padding-left: 20%;
  padding-right: 20%;
}

.form-control {
  width: 100%;
  border-radius: 10px;
  padding-bottom: 3%;
}

input::placeholder {
  color: #999;
}

input:focus::placeholder {
  color: transparent;
}

.card-text {
  padding-top: 11%;
}

.btn {
  width: 100%;
}

h6 {
  text-align: center;
  margin-top: 4%;
}

@media (max-width: 768px) {
  .card {
      width: 80%;
  }
}