<div class="container">
    <h2>User Management</h2>

    <!-- Form for editing an existing user -->
    <form *ngIf="editingUser.id !== 0" (ngSubmit)="saveEditedUser()">
        <div class="form-group">
            <label for="editUserName">Name</label>
            <input type="text" class="form-control" id="editUserName" [(ngModel)]="editingUser.username" name="name"
                required>
        </div>
        <div class="form-group">
            <label for="editEmail">Email</label>
            <input type="email" class="form-control" id="editEmail" [(ngModel)]="editingUser.email" name="email"
                required>
        </div>
        <div class="form-group">
            <label for="editPassword">Password</label>
            <input type="password" class="form-control" id="editPassword" [(ngModel)]="editingUser.password"
                name="password" required>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Save</button>
        <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
    </form>

    <!-- User table -->
    <table class="table">
        <thead>
            <tr>
                <th>UserId</th>
                <th>Username</th>
                <th>UserType</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.usertype}}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>
                    <button class="btn btn-sm btn-info mr-1" (click)="editUser(user)">Edit</button>
                    <button class="btn btn-sm btn-danger" (click)="deleteUser(user.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>